body, input, textarea, button, select
{
    font-family: 'Heebo', sans-serif !important;
}

h1, .h1, #shopify-product-reviews .spr-header-title, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
{
  font-family: 'Heebo', sans-serif !important;
}

.site-nav
{
    font-family: 'Heebo', sans-serif !important;
}

body, input, textarea, button, select
{
  font-family: 'Heebo', sans-serif !important;
}


.btn, .btn-secondary, input.btn-secondary, input[type="submit"], .header-cart-btn
{
 font-family: 'Heebo', sans-serif !important;
}
h1, .h1, #shopify-product-reviews .spr-header-title, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
{
  font-family: 'Heebo', sans-serif !important;
}


.product-grid-item {
    border: 1px solid #e0e0e0;
    text-align: center;
}
.product-grid-item .product-grid-content {
    padding: 4px;
}
.product-grid-item .product-grid-content button {
    background: #9BCD68;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    padding: 3px 13px;
    line-height: normal;    
}
.product-grid-item .product-grid-content p {
    padding: 4px;
    min-height: 60px;
}
.quantity-selector {
  width: 10% !important;
}

/*Added 30-May-18*/

.product-grid-item .product-grid-content button span {
    font-size: 14px;
}

ul.address-list li img {
    max-width: 32px;
    vertical-align: middle;
    padding-left: 10px;
}
ul.address-list li {
    line-height: 40px;
    vertical-align: middle;
}
input#quantity {
    width: 30%!important;
}
.quantity-wrap {
    float: right;
}
.addTocart-wrap {
    float: left;
    position: absolute;
    top: 28px;
    margin-right: 68px;
}
.btn-quantity-wrapper {
    position: relative;
}
.btn-quantity-wrapper #addToCart-product-template {
    background: #9BCD68;
    border-top: 2px solid #d9d9d9;
    border-right: 2px solid #d9d9d9;
    border-bottom: 2px solid #808080;
    border-left: 2px solid #808080;
    border-radius: 30px;
    color: black;
    margin-right: 13px;
}

/*Added 26-June-2018*/

.product-description table td {
    text-align: right;
    border: none;
}
.product-grid-image .badge-label {
    font-weight: 500;
    color: #ffffff;
}


/* responsive-style-start */ 

@media screen and (max-width: 640px) {
  
  .wrapper .grid, .wrapper .grid--rev, .wrapper .grid--full, .wrapper .grid-uniform {
  	margin: 0px;
  }
  .wrapper.main-content .grid-item,
   footer .grid-item  {
	padding-left: 0px;
}
}

@media(max-width:767px){

}
.product-description.rte table {
    width: 100% !important;
  table-layout: inherit;
}