<div class="sixteen columns clearfix collection_nav">
  <h1 class="collection_title">
    {{ page.title }}
  </h1>
</div>

<div class="sixteen columns page engraving-page-wrapper">
    {{ page.content }}
    {% include 'engraving_pop' %}
</div>

<style> 
div.formFooter {
  visibility: hidden;
}
</style>
  