{% include 'bold-product' with product, hide_action: 'break' %}
<span class="price-explained">

  <a href="#engraving" class="fancybox underborder">View an example of our caseback engraving</a>
</span>
<div style="display: none;" id="engraving">
  <div class="fordesktop"><img src="{{'CB_1_500.jpg' | asset_url}}"></div>
</div>

