<script>


  $(document).ready(function() {
    var sync1 = $("#sync1");
    var sync2 = $("#sync2");

    sync1.owlCarousel({
      singleItem : true,
      slideSpeed : 1000,
      navigation: true,
      autoPlay: 4000,  
      navigationText: ["<span class='icon-left'></span>", "<span class='icon-right'></span>"],  
      pagination:false,
      afterAction : syncPosition,
      responsiveRefreshRate : 200,
    });

    $("#sync2").owlCarousel({
      items : 4,
      autoWidth:true,
      stagePadding: 50,
      itemsDesktop      : [1199,3],
      itemsDesktopSmall : [979,2],
      itemsTablet       : [768,2],
      itemsTabletSmall  : [767,5],
      itemsMobile	    : [639,3],
      itemsMobileSmall  : [479,2],
      pagination:false,
      navigation: false,
      responsiveRefreshRate : 100,
      afterInit : function(el){
        el.find(".owl-item").eq(0).addClass("synced");
      }
    });

    function syncPosition(el){
      var current = this.currentItem;
      $("#sync2")
      .find(".owl-item")
      .removeClass("synced")
      //.removeClass("active")
      .eq(current)
      .addClass("synced")//.addClass("active");

      if($("#sync2").data("owlCarousel") !== undefined){
        center(current)
      }
    }


    $("#sync2").on("click", ".owl-item", function(e){
      e.preventDefault();
      var number = $(this).data("owlItem");
      sync1.trigger("owl.goTo",number);

      //console.log($(this).find("img").attr("data-swatch-num"));   
    });


    $(".swatch .swatch-element label").on("click",function(){
      var indexthis = $(this).parent().index();
      var swatch_index = $(this).parent().find("input").attr("data-swatch-num");
      $("#sync2").find(".owl-item").each(function(){
        var indexs =  $(this).find("img").attr('data-swatch-num');
        //         alert(indexs);
        if (swatch_index == indexs) {

          $("#sync2").find(".owl-item").removeClass("synced active");
          $("#sync2").find(".owl-item").find(".wrap").removeClass("active");
          $(this).addClass("synced active");
          $(this).find(".wrap").addClass("active");
          $(this).trigger("click");  
        }
      });     
      //       	$("#ProductThumbs").find(".owl-item").find(".wrap").removeClass("synced active");
      //         $("#ProductThumbs").find(".owl-item").find(".wrap").addClass("active");
    });
    function center(number){
      var sync2visible = sync2.data("owlCarousel").owl.visibleItems;
      var num = number;
      var found = false;
      for(var i in sync2visible){
        if(num === sync2visible[i]){
          var found = true;
        }
      }

      if(found===false){
        if(num>sync2visible[sync2visible.length-1]){
          sync2.trigger("owl.goTo", num - sync2visible.length+2)
        }else{
          if(num - 1 === -1){
            num = 0;
          }
          sync2.trigger("owl.goTo", num);
        }
      } else if(num === sync2visible[sync2visible.length-1]){
        sync2.trigger("owl.goTo", sync2visible[1])
      } else if(num === sync2visible[0]){
        sync2.trigger("owl.goTo", num-1)
      }

    }

  });
  $(document).ready(function() {
    $("#sync2 .owl-item").on("click",function(){
      $("#sync2 .owl-item").removeClass("active");
      $(this).addClass("active");
    });

  });
</script>
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
  var selectCallback = function(variant, selector) {
    // BEGIN SWATCHES
    if (variant) {
      var form = jQuery('#' + selector.domIdPrefix).closest('form');
      for (var i=0,length=variant.options.length; i<length; i++) {
        var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
        if (radioButton.size()) {
          radioButton.get(0).checked = true;
        }
      }
    }
    // END SWATCHES
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
    
        
    // you will be using something like this if you are using Shopify's option_selection.js as a callback to update your images and stuff when the user chooses another variant from a product select element. Just add the bits below to what you already have in there. This will ensure when the customer picks another variant, the wish list form will update to the current variant.

  //Update wishlist form
  var $wishList = $(".js-wish-list").eq(0);
  var currentURL = window.location.protocol + "//" + window.location.host + window.location.pathname;
  var newURL = currentURL + "?variant=" + variant.id;

  $.ajax({
    type: 'GET',
    url: newURL,
    success:function(data){
      $wishList.empty();
      var newData = $(data).find(".js-wish-list").eq(0).html();
      $wishList.html(newData);
    }
  });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
                                         {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
    $('.selector-wrapper').hide();
    {% endif %}
  });
</script>
<script>
  $(document).ready(function() {

    $( function() {
      $( "#tabs" ).tabs();
    } );

    $('ul.tab').each(function(){
      var active, content, links = $(this).find('a');
      active = links.first().addClass('ui-tabs-active');
      content = $(active.attr('href'));
      links.not(':first').each(function () {
        $($(this).attr('href')).hide();
      });
      $(this).find('a').click(function(e){
        active.removeClass('ui-tabs-active');
        content.hide();
        active = $(this);
        content = $($(this).attr('href'));
        active.addClass('ui-tabs-active');
        content.show();
        return false;
      });
    });
    
    
  });
</script>