

<div id="evm-insta">
<div id="evm-instagram">
</div>
</div>
<div class="evmbox">
<div id="evmpopupbox">
</div>
</div>
<style>
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
#evminsta-content-left{float:left; width:60%;}
#evminsta-content-right{float:right; width:38%;    padding-top: 20px;}
#evminsta-content {   font-family: open sans; box-sizing: border-box; background-color: #fff; padding: 20px; float: left; width: 100%; background-position: bottom right; background-repeat: no-repeat; background-size: 100px; }
.evminstaheader .fa {       color: #ddd;     float: left;     font-size: 20px;     padding-right: 3px; }
.evminstaheader span b{   padding-left: 2px;  float: left;     font-size: 12px;     font-weight: 100;}
.evminstaheader span {      border-right: 1px solid #ddd;     float: left;     line-height: 20px;     padding: 3px 10px; }  
.evminstaheader { border-bottom: 1px solid #eee;     float: left;     margin-bottom: 15px;     width: 100%}  
.evminstatext{ box-sizing: border-box;     float: left;     font-size: 13px;     line-height: 25px;     padding-right: 10px;     text-align: left;     width: 100%;}  
.evminstaheader span.evm-insta-date {     border: 0 none;     color: #0b48a3;     font-size: 12px;     text-transform: uppercase; }
.evm-insta-popup .close {     background: #fff none repeat scroll 0 0;     border: 1px solid #ddd;     color: #ddd;     font-size: 26px;    
 font-weight: normal;     line-height: 18px;     padding:3px 6px 6px;     position: absolute;     right: 0;     text-decoration: none;   
  transition: all 200ms ease 0s; }  
.evmcontent .fa {color: #ccc;float: left;font-size: 20px;padding-right: 3px;}
.evmcontent .fa:hover, .evmcontent .evmsocialshare .fa:hover {color: #0b48a3;}  
.evmsocialshare {  bottom: 10px;     position: absolute;}  
.evmbox {margin: 0 auto;padding: 10px 0;text-align: center; width: 100%;}
.evmbutton {opacity:1!important; color: #fff; position:relative;cursor: pointer;font-size: 1em; z-index:999999999; text-decoration: none;transition: all 0.3s ease-out 0s;}
.evmbutton:hover {cursor: pointer;color:#fff;}
.evmcontent > img {     float: left;     max-width: 580px;     width: 58%; }
.evmoverlay { position: fixed;top: 0;bottom: 0; z-index:99999;left: 0;right: 0;background: rgba(0, 0, 0, 0.7);transition: opacity 500ms;display:none; opacity: 0;}
.evmoverlay:target {display:block;opacity: 1;}
.evmpopupcontent { box-sizing: border-box; float: right;width: 39%; padding: 20px 0 40px;}
.evmpopup {margin:10% auto 0;background: #fff;    font-family: Open Sans,serif; border-radius: 0px; max-width:100%; width: 1000px;position: relative;
transition: all 5s ease-in-out;}
#evm-instagram {float: left;position: relative; width: 100%;z-index: 1;}
.evmpopup .close { position: absolute; top: 0; right: 0;transition: all 200ms;font-weight: normal;text-decoration: none;color: #ddd;line-height: 18px;
background: #fff;border: 1px solid #ddd;font-size: 26px;padding:4px 7px;}
.evmpopup .close:hover {color: #0b48a3;}
.evmpopup .evmcontent {max-height: 30%; position:relative; background-repeat:no-repeat; background-position:bottom right;overflow: auto; background-size:40px;}
.evm-insta-link a:hover, .evmsocialshare a:hover{opacity:1;}
.evmcontent .evmsocialshare .fa {padding: 0 8px;    color: #aaa;} 
.evm-insta-comments {border: medium none !important;}
.evmbutton:hover .evm-instagram-overlay{opacity:1!important;bottom:0%!important;}
.evm-instagram-button .fa { color: #fff; font-size: 20px; }
.evm-instagram-button { float: left; width: 100%; text-align: center; margin-top: 37.5%; }
.evminstatext-hover { text-overflow: ellipsis; width: 94%; overflow: hidden; text-align: center; white-space: pre; margin: 5px auto; font-style: italic; font-size: 13px; letter-spacing: 0.3px; } 
.evmbutton :hover{color:#fff;}
#evm-insta { margin: 30px 0px;overflow: hidden;position: relative;float: left; width: 100%;}
#evm-instagram-wrapper{float:left; width: 100%;overflow-x: scroll;overflow-y: hidden;position: relative;margin-left: 0px; margin-right: 0px;}


@media screen and (max-width: 1440px)
{
.evmpopup {margin:4% auto 0;}
}  
@media screen and (max-width: 640px)
{
.evmpopup .evmcontent > img, .evmpopupcontent {      max-width: 100%;     width: 100%; }
#evm-instagram > li {     margin: 1% !important;     width: 48% !important; }
.evminstaheader span{padding:3px 8px;}
#evminsta-content{padding-bottom:100px;}
.evmoverlay{position:absolute;}
  .evmpopupcontent {padding: 20px 20px 40px;}
}
</style>

