{% include 'bold-product' with product, hide_action: 'break' %}
{% for c in product.collections %}

{% case c.handle %}
  {% when 'haig' %}
     {% assign colname= 'haig' %}
  {% when 'hume' %}
    {% assign colname= 'hume' %}
  {% when 'kendrick' %}
    {% assign colname= 'kendrick' %}
  {% when 'lewis' %}
      {% assign colname= 'lewis' %}
  {% when 'tarbert' %}
      {% assign colname= 'kendrick' %}
  {% when 'lewis-34mm' %}
      {% assign colname= 'lewis-34mm' %}
  {% when 'kendrick-2017' %}
      {% assign colname= 'kendrick-2017' %}
  
{% endcase %}
{% endfor %}

<div class="new-product old-product-section">
  <div class="product-one-images">
<!--     <div class="Eight columns alpha"> -->
      <div class="clock-image">
        <img src="{{ colname | append : '-dial.png' | asset_url}}">
      </div>
<!--     </div> -->
<!--     <div class="Eight columns omega"> -->
      <div class="signature-casing">
        <h3>SIGNATURE CASING</h3>
        <p>Kartel’s signature case blends modern simplicity
          with understated classic lines. Designed to sit perfectly
          on the wrist and appeal to both male and female. This
          original design works seamlessly with our selection of
          premium strap materials and dome shaped toughened
          mineral glass completes the refined profile.</p>
      </div>
<!--     </div> -->
  </div>
  <div class="clearfix"></div>
  <div class="product-images">
    <div class="product_new">
        <div class="premium-leather">
          <img src="{{ product.variants.first.sku | append : '-1.png' | asset_url }}">
          <h3>STRAP OPTIONS</h3>
          <p>Across our range we offer premium leathers, sourced 
from international tannerys, fine stainless steel 
mesh, hardwearing nylon weave and Scotland’s 
own Harris Tweed.</p>
        </div>
    </div>
    <div class="product_new">
      <div class="precision-movements">
        <img src="{{ product.variants.first.sku | append : '-2.png' | asset_url }}">
        <h3>PRECISION MOVEMENTS</h3>
        <p>The internal components of our watches have been
          selected for their precision offering &plusmn;20 seconds per
          month along with low energy consumption.</p>
      </div>
    </div>
    <div class="product_new">
      <div class="elegant-dial-designs">
        <img src="{{ product.variants.first.sku | append : '-3.png' | asset_url }}">
        <h3>ELEGANT DIAL DESIGNS</h3>
        <p>From minimal plated index markers to matt and
          sunray finish dials, our dial designs bring a
          timeless look across our product range.</p>
      </div>
    </div>
  </div>
  
</div>
<style>
  
  @media all and (max-width: 1199px) {
     .product_new {
  margin: 0 7px;
}   
    .old-product-section .product-one-images {
  width: auto;
}
  }
@media all and (max-width: 767px) {
.old-product-section .product-one-images {
  background: #f7f7f7 none repeat scroll 0 0;
  float: left;
  margin: 0 auto 15px;
  max-width: 100%;
  padding: 10px;
  width: 100%;
}
.old-product-section .signature-casing {
  padding-top: 0px;
}     
 .product_new {
  margin: 0 7px;
}   
  }
  
</style>