{% include 'bold-product' with product, hide_action: 'break' %}
<span class="price-explained-new ">

  <a href="#pricingexpained" class="fancybox"><img src="https://cdn.shopify.com/s/files/1/0675/4411/files/mi-20.png?8522381344141658293" width="14"></a>
</span>
<div style="display: none;" id="pricingexpained">
  <div class="fordesktop"><img src="{{'why_so_cheap_diagram.jpg' | asset_url}}"></div>
  <div class="formobile"><img src="{{'why_so_cheap_diagram.jpg' | asset_url}}"></div>
</div>