{% include 'bold-product' with product, hide_action: 'break' %}
<!-- TrustBox widget --->
<div class="trustpilot-widget" data-locale="en-GB" data-template-id="53aa8912dec7e10d38f59f36" data-businessunit-id="5715f8820000ff00058bb8bb" data-style-height="130px" data-style-width="100%" data-theme="dark" data-stars="4,5">
  <a href="https://uk.trustpilot.com/review/kartel.co.uk" target="_blank">Trustpilot</a>
</div>
<!-- End TrustBox widget -->